/* GENERAL STYLING */

@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Book.otf");
    }

/* body{
    font-family: 'avenir', sans-serif;
} */

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'avenir', sans-serif;

}

#main {
    width: 100%;
    height: 100vh;
    background-image: url(.././images/bg-home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* END OF GENERAL STYLING */


/* NAVBAR */

.top-container{
    padding: 25px 0 25px 0;
}

.nav{
    padding: 10px 0 10px 0;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}

.nav ul li a {
    text-decoration: none !important;
    color: #fff !important;
    padding: 5px;
    font-weight:  lighter;
    font-size: 1em;
    margin-left: 20px !important;
    transition: .3s;
}

.nav ul li a:hover {
    color: rgba(250, 170, 59, 0.788) !important;
}


.logo-container img {
    width: 80%;
}




/* END OF NAVBAR */


/* CONTENT */

.content{
    position: absolute;
    padding-top: 0%;
    /* background: red; */
    top: 0;

}

.content h2 {
    text-align: center;
    font-size: 3.3em;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}


.content hr {
    border: 2px solid #f39d1a !important;
    width: 14%;
    margin-left: 42%;
}

.assets-links {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    background: rgba(13, 11, 133, 0.582);
    /* opacity: 0.5; */
}

.assets-links-upper{
    position: absolute;
    bottom: 90px;
    width: 100%;
    color: white;
    background: transparent;
}

.dropdown-option{
    background: white;
    padding: 0 !important;
    margin-bottom: 0 !important;
    display: none;
    margin-left: -10px;
    transition: .3s;
}

.dropdown-option ul{
    list-style: none;
    padding: 0 !important;
}

.dropdown-option ul li{
    display: block;

}

.dropdown-option ul li a{
    display: block;
    padding: 10px 10px 5px 10px;
    color: rgb(99, 96, 96);
    /* border-top: 1px solid rgb(199, 197, 197); */
    text-decoration: none;
    /* font-size: .8em; */
    font-weight: lighter;

}

.assets-links img {
    margin-top: 30px;
    margin-bottom: 0px;
}

.asset-text{
    padding-top:11% ;
    font-weight: lighter;
}

.propertyDev img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.propertyDev {
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.377) !important;
    transition: .3s;
}

.propertyDev:hover{
    background: rgba(250, 170, 59, 0.788);
}

.propertyDev:hover .dropdown-option{
    display: block;
}

.rentalMgt:hover{
    background: rgba(250, 170, 59, 0.788);
}

.propertyMgt:hover{
    background: rgba(250, 170, 59, 0.788);
}

.propertyDev:last-child{
    border-right: none !important;
}

.rentalMgt img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    margin-left: 20px;  
}

.rentalMgt {
    border-right: 1px solid rgba(255, 255, 255, 0.377) !important;
    cursor: pointer;
    transition: .3s;
}

.propertyMgt{
    cursor: pointer;
    transition: .3s;
}

.rentalMgt:last-child{
    border-right: none !important;
}

.propertyMgt img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* END OF CONTENT */


/* DROPDOWN */

/* .btndown {
    background-color: #3bb09f;
    color: #fff;
    padding: 16px;
    font-size: 14pt;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.wrapdown {
    display: none;
    position: absolute;
    background-color: #f9f9;
    min-width: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.wrapdown a {
    color: #0000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.wrapdown a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .wrapdown {
    display: block;
}

.dropdown:hover .btndown {
    background-color: #4cbf50;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapleft {
    left: 0;
}

.wrapright {
    right: 0;
} */

/* END OF DROPDOWN */


/* NAV COLLAPSE */

/* #main .navNav {
    text-align: right !important;
    height: 35px;
    line-height: 80px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 80px;
    display: none !important;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 800px) {
    label {
        display: block;
    }
} */

/* END OF NAV COLLAPSE */



 